table {
    border-spacing: 0;
    border-radius: 25px;
}
td, th {
    border: 1px solid white;
    padding: 5px;
}
th {
    background: #a3cee9;
    font-weight: normal;
    color: aliceblue;
    width: 40px;
}

th:first-child {
    font-weight: bold;
}

td {
    background: #d3e7f4;
    color: #0c0b2e;
}

.first-column {
    width: 200px;
    text-align: left;
}

tr:first-child th:first-child
{
    border-radius: 10px 0 0 0;
}
tr:last-child th:last-child
{
    border-radius: 0 10px 0 0;
}
tr:last-child th:first-child
{
    border-radius: 0 0 10px 0;
}
tr:first-child th:last-child
{
    border-radius: 0 0 0 10px;
}
