@font-face {
    font-family: 'Lobster';
    src: url("Lobster/Lobster.ttf");
}

@font-face {
    font-family: 'Bold';
    src: url("Oswald/Oswald-Bold.ttf");
}

@font-face {
    font-family: 'Light';
    src: url("Oswald/Oswald-Light.ttf");
}

@font-face {
    font-family: 'Regular';
    src: url("Oswald/Oswald-Regular.ttf");
}

